@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CreateModel

@{
    ViewData["Title"] = "Create new Customer";

    var months = new Dictionary<int, string>
    {
        { 1, "January" },
        { 2, "February" },
        { 3, "March" },
        { 4, "April" },
        { 5, "May" },
        { 6, "June" },
        { 7, "July" },
        { 8, "August" },
        { 9, "September" },
        { 10, "October" },
        { 11, "November" },
        { 12, "December" }
    };
}

<div class="page-heading header-text">
    <h1>@ViewData["Title"]</h1>
    <button type="button" class="btn btn-secondary" onclick="location.href='/Customers/CustomerAdminInfo';">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return to List
    </button>
</div>

<hr />
<div class="container">
    <div class="row d-flex justify-content-center align-items-center min-vh-100">
        <div class="col-md-8 shadow p-3 mb-5 bg-white rounded">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Gender" class="control-label"></label>
                            <select asp-for="Gender" class="form-control">
                                <option value="">Select gender...</option>
                                <option value="male">male</option>
                                <option value="female">female</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Givenname" class="control-label"></label>
                            <input asp-for="Givenname" class="form-control" />
                            <span asp-validation-for="Givenname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Surname" class="control-label"></label>
                            <input asp-for="Surname" class="form-control" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Streetaddress" class="control-label"></label>
                            <input asp-for="Streetaddress" class="form-control" />
                            <span asp-validation-for="Streetaddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Zipcode" class="control-label"></label>
                            <input asp-for="Zipcode" class="form-control" />
                            <span asp-validation-for="Zipcode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DispositionType" class="control-label">Account Type</label>
                            <input asp-for="DispositionType" class="form-control" readonly value="OWNER" />
                            <span asp-validation-for="DispositionType" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="InitialDeposit" class="control-label">Initial Deposit</label>
                            <input asp-for="InitialDeposit" class="form-control" />
                            <span asp-validation-for="InitialDeposit" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Frequency" class="control-label">Frequency</label>
                            <select asp-for="Frequency" class="form-control">
                                <option value="">Select Frequency...</option>
                                <option value="Monthly">Monthly</option>
                                <option value="Weekly">Weekly</option>
                                <option value="AfterTransaction">After Transaction</option>
                            </select>
                            <span asp-validation-for="Frequency" class="text-danger"></span>
                        </div>

                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Country" class="control-label"></label>
                            <select asp-for="Country" class="form-control" id="countryDropdown">
                                <option value="">Select Country...</option>
                                <option value="Sweden">Sweden</option>
                                <option value="Norway">Norway</option>
                                <option value="Denmark">Denmark</option>
                                <option value="Finland">Finland</option>
                            </select>
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CountryCode" class="control-label"></label>
                            <input asp-for="CountryCode" class="form-control" readonly id="countryCode" />
                            <span asp-validation-for="CountryCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Birthday</label>
                            <select asp-for="BirthdayYear" class="form-control" data-val-minimumage="You must be at least 18 years old." data-val-minimumage-minimumage="18">
                                <option value="">Select Year...</option>
                                @for (int i = DateTime.Now.Year; i >= 1900; i--)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <span asp-validation-for="BirthdayYear" class="text-danger"></span>
                            <select asp-for="BirthdayMonth" class="form-control mt-1">
                                <option value="">Select Month...</option>
                                @foreach (var month in months)
                                {
                                    <option value="@month.Key">@month.Value</option>
                                }
                            </select>
                            <span asp-validation-for="BirthdayMonth" class="text-danger"></span>
                            <select asp-for="BirthdayDay" class="form-control mt-1">
                                <option value="">Select Day...</option>
                                @for (int i = 1; i <= 31; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <span asp-validation-for="BirthdayDay" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NationalId" class="control-label"></label>
                            <input asp-for="NationalId" class="form-control" placeholder="Optional" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Telephonecountrycode" class="control-label"></label>
                            <input asp-for="Telephonecountrycode" class="form-control" readonly id="telephoneCountryCode" />
                            <span asp-validation-for="Telephonecountrycode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telephonenumber" class="control-label"></label>
                            <input asp-for="Telephonenumber" class="form-control" />
                            <span asp-validation-for="Telephonenumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Emailaddress" class="control-label"></label>
                            <input asp-for="Emailaddress" class="form-control" />
                            <span asp-validation-for="Emailaddress" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <button type="submit" id="update-profile-button" class="btn btn-primary col-md-3">
                        <i class="fa-solid fa-floppy-disk mr-2"></i>Create
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="Shared/_ValidationScriptsPartial" />

    <script>
        document.getElementById('countryDropdown').addEventListener('change', function () {
            var telephoneCountryCodeInput = document.getElementById('telephoneCountryCode');
            var countryCodeInput = document.getElementById('countryCode');
            switch (this.value) {
                case 'Sweden':
                    telephoneCountryCodeInput.value = '46';
                    countryCodeInput.value = 'SE';
                    break;
                case 'Norway':
                    telephoneCountryCodeInput.value = '47';
                    countryCodeInput.value = 'NO';
                    break;
                case 'Denmark':
                    telephoneCountryCodeInput.value = '45';
                    countryCodeInput.value = 'DK';
                    break;
                case 'Finland':
                    telephoneCountryCodeInput.value = '358';
                    countryCodeInput.value = 'FI';
                    break;
                default:
                    telephoneCountryCodeInput.value = '';
                    countryCodeInput.value = '';
            }
        });

        jQuery.validator.addMethod('minimumage', function (value, element, params) {
            var minimumAge = params.minimumage;
            var yearOfBirth = parseInt(value);
            var currentYear = new Date().getFullYear();
            return yearOfBirth <= currentYear - minimumAge;
        }, function (params, element) {
            return $(element).data('val-minimumage-message');
        });

        jQuery.validator.unobtrusive.adapters.add('minimumage', ['minimumage'], function (options) {
            options.rules['minimumage'] = {
                minimumage: options.params.minimumage
            };
            options.messages['minimumage'] = options.message;
        });

        document.getElementById('BirthdayMonth').addEventListener('change', function () {
            var dayDropdown = document.getElementById('BirthdayDay');
            var selectedMonth = Number(this.value);

            while (dayDropdown.firstChild) {
                dayDropdown.removeChild(dayDropdown.firstChild);
            }

            var defaultOption = document.createElement('option');
            defaultOption.value = '';
            defaultOption.text = 'Select Day...';
            dayDropdown.appendChild(defaultOption);

            var daysInMonth;
            switch (selectedMonth) {
                case 2: // Februari
                    daysInMonth = 28;
                    break;
                case 4:
                case 6:
                case 9:
                case 11: // April, Juni, September, November
                    daysInMonth = 30;
                    break;
                default: // Resterande
                    daysInMonth = 31;
                    break;
            }

            for (var i = 1; i <= daysInMonth; i++) {
                var option = document.createElement('option');
                option.value = i;
                option.text = i;
                dayDropdown.appendChild(option);
            }
        });
    </script>
}
