@page
@model CustomerAdminInfoModel
@{
    int startPage = Model.CurrentPage - 1 <= 0 ? 1 : Model.CurrentPage - 1;
    int endPage = startPage + 2 > Model.Customers.PageCount ? Model.Customers.PageCount : startPage + 2;
}


<div class="page-heading header-text">
    <h1>Customers</h1>
    <h3 class="mb-3">Total: @Model.TotalCustomers.ToString("N0")</h3>
    <button type="button" class="btn btn-secondary" onclick="window.history.back();">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return
    </button>
</div>

<div class="container" style="width: 80%; margin: auto; padding: 20px;">

    <div class="d-flex justify-content-between align-items-center">
        <div style="flex-grow: 1;">
            <form method="get" class="my-2 my-lg-0 d-none d-sm-table-cell" asp-page="/Customers/CustomerAdminInfo">
                <div class="input-group" style="width: 410px; margin-top: 10px; margin-bottom: 15px;">
                    <input type="text" class="form-control" name="query" placeholder="Search Customer ID, Name or City" value="@Request.Query["query"]">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fa-solid fa-magnifying-glass mr-2"></i>Search
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div>
            <a asp-page="/Customers/Create" id="update-profile-button" class="btn btn-primary">
                <i class="fa-solid fa-plus mr-2"></i>Create New Customer
            </a>
        </div>
    </div>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["Message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <table class="table table-hover table-bordered shadow p-3 mb-5 bg-white rounded">
    <thead>
        <tr>
            <th scope="col">
                Customer ID
                <a asp-page="/Customers/CustomerAdminInfo"
                   asp-route-sortColumn="CustomerId"
                   asp-route-sortOrder="asc"
                   asp-route-query="@Model.Search"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Customers/CustomerAdminInfo"
                   asp-route-sortColumn="CustomerId"
                   asp-route-sortOrder="desc"
                   asp-route-query="@Model.Search"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
                <th scope="col" class="d-none d-sm-table-cell">
                Accounts
                <a asp-page="/Customers/CustomerAdminInfo"
                   asp-route-sortColumn="AccountId"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Customers/CustomerAdminInfo"
                   asp-route-sortColumn="AccountId"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
                <th scope="col" class="d-none d-sm-table-cell">
                National ID
                <a asp-page="/Customers/CustomerAdminInfo"
                    asp-route-sortColumn="NationalId"
                    asp-route-sortOrder="asc"
                    asp-route-query="@Model.Search"
                    style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Customers/CustomerAdminInfo"
                    asp-route-sortColumn="NationalId"
                    asp-route-sortOrder="desc"
                    asp-route-query="@Model.Search"
                    style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>

                <th scope="col">
                Name
                <a asp-page="/Customers/CustomerAdminInfo"
                   asp-route-sortColumn="Givenname"
                   asp-route-sortOrder="asc"
                   asp-route-query="@Model.Search"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Customers/CustomerAdminInfo"
                   asp-route-sortColumn="Givenname"
                   asp-route-sortOrder="desc"
                   asp-route-query="@Model.Search"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
                <th scope="col" class="d-none d-sm-table-cell">
                Lastname
                <a asp-page="/Customers/CustomerAdminInfo"
                   asp-route-sortColumn="Surname"
                   asp-route-sortOrder="asc"
                   asp-route-query="@Model.Search"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Customers/CustomerAdminInfo"
                   asp-route-sortColumn="Surname"
                   asp-route-sortOrder="desc"
                   asp-route-query="@Model.Search"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
                <th scope="col" class="d-none d-sm-table-cell">
                Address
                <a asp-page="/Customers/CustomerAdminInfo"
                   asp-route-sortColumn="Streetaddress"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Customers/CustomerAdminInfo"
                   asp-route-sortColumn="Streetaddress"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
                <th scope="col" class="d-none d-sm-table-cell">
                City
                <a asp-page="/Customers/CustomerAdminInfo"
                   asp-route-sortColumn="City"
                   asp-route-sortOrder="asc"
                   asp-route-query="@Model.Search"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Customers/CustomerAdminInfo"
                   asp-route-sortColumn="City"
                   asp-route-sortOrder="desc"
                   asp-route-query="@Model.Search"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var customer in Model.Customers.Results)
        {
            <tr>
                <td>
                    <a asp-page="/Customers/CustomerDetails" asp-route-id="@customer.CustomerId" class="btn btn-block btn-outline-secondary">
                            <i class="fa-solid fa-eye mr-2"></i>@customer.CustomerId
                    </a>
                </td>
                <td class="d-none d-sm-table-cell">
                    <a asp-page="/Accounts/Account" asp-route-accountIds="@string.Join(',', customer.Accounts.Select(a => a.AccountId))" class="btn btn-outline-secondary btn-block">
                            <i class="fa-solid fa-eye mr-2"></i>View
                        </a>
                </td>
                <td class="d-none d-sm-table-cell">@customer.NationalId</td>
                <td>@customer.Givenname</td>
                <td class="d-none d-sm-table-cell">@customer.Surname</td>
                    <td class="d-none d-sm-table-cell">
                        @if (customer.Streetaddress.Length > 20)
                        {
                            @:@(customer.Streetaddress.Substring(0, 20))...
                        }
                        else
                        {
                            @customer.Streetaddress
                        }
                    </td>
                <td class="d-none d-sm-table-cell">@customer.City</td>
            </tr>
        }
    </tbody>

        <tfoot>
            <tr>
                <td colspan="6">
                    <div style="display: flex; flex-direction: row; justify-content: flex-start; gap: 6px;">
                        <a class="btn btn-primary d-none d-sm-table-cell" id="update-profile-button"
                           asp-route-pageNo="1"
                           asp-route-sortColumn="@Request.Query["sortColumn"]"
                           asp-route-sortOrder="@Request.Query["sortOrder"]"
                           asp-route-query="@Request.Query["query"]">First</a>

                        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : "")" id="update-profile-button"
                           asp-route-pageNo="@(Model.CurrentPage > 1 ? (Model.CurrentPage - 1).ToString() : "#")"
                           asp-route-sortColumn="@Request.Query["sortColumn"]"
                           asp-route-sortOrder="@Request.Query["sortOrder"]"
                           asp-route-query="@Request.Query["query"]">Previous</a>

                        @for (int i = startPage; i <= endPage; i++)
                        {
                            <a class="btn @(Model.CurrentPage == i ? "btn-primary" : "btn-secondary")" id="@(Model.CurrentPage == i ? "update-profile-button" : "")"
                               asp-route-pageNo="@i"
                               asp-route-sortColumn="@Request.Query["sortColumn"]"
                               asp-route-sortOrder="@Request.Query["sortOrder"]"
                               asp-route-query="@Request.Query["query"]">@i</a>
                        }

                        <a class="btn btn-primary @(Model.CurrentPage == Model.Customers.PageCount ? "disabled" : "")" id="update-profile-button"
                           asp-route-pageNo="@(Model.CurrentPage < Model.Customers.PageCount ? (Model.CurrentPage + 1).ToString() : "#")"
                           asp-route-sortColumn="@Request.Query["sortColumn"]"
                           asp-route-sortOrder="@Request.Query["sortOrder"]"
                           asp-route-query="@Request.Query["query"]">Next</a>

                        <p class="d-none d-sm-table-cell">Page @Model.CurrentPage of @Model.Customers.PageCount</p>

                        <a class="btn btn-primary d-none d-sm-table-cell" id="update-profile-button"
                           asp-route-pageNo="@Model.Customers.PageCount"
                           asp-route-sortColumn="@Request.Query["sortColumn"]"
                           asp-route-sortOrder="@Request.Query["sortOrder"]"
                           asp-route-query="@Request.Query["query"]">Last</a>
                    </div>
                </td>
            </tr>
        </tfoot>


</table>
</div>
