@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
    var confirmModalId = "confirmDeleteModal";
}

<div class="page-heading header-text">
    <h1 class="mt-3">@ViewData["Title"] @Model.Customer.Givenname @Model.Customer.Surname, ID @Model.Customer.CustomerId?</h1>
    <h3 class="mt-3 text-danger">All associated data for @Model.Customer.Givenname @Model.Customer.Surname will be permanently lost!</h3>
    <button type="button" class="btn btn-secondary mt-3" onclick="window.history.back();">
        <i class="fa-solid fa-arrow-left mr-2"></i>No! Take me back
    </button>
</div>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center min-vh-100">
        <div class="col-md-8">
            <table class="table table-hover shadow mt-3">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Gender)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Gender)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Givenname)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Givenname)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Surname)</th>
                        <td>@Html.DisplayNameFor(model => model.Customer.Surname)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Streetaddress)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Streetaddress)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.City)</th>
                        <td>@Html.DisplayFor(model => model.Customer.City)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Zipcode)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Zipcode)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Country)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Country)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.CountryCode)</th>
                        <td>@Html.DisplayFor(model => model.Customer.CountryCode)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Birthday)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Birthday)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.NationalId)</th>
                        <td>@Html.DisplayFor(model => model.Customer.NationalId)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Telephonecountrycode)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Telephonecountrycode)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Telephonenumber)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Telephonenumber)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Emailaddress)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Emailaddress)</td>
                    </tr>
                </tbody>
            </table>
            <form id="deleteForm" method="post">
                <input type="hidden" asp-for="Customer.CustomerId" />
                <div class="form-group d-flex justify-content-center">
                    <input type="submit" value="Delete" class="btn btn-danger mr-2" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="@confirmModalId" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Are you sure? This action is irreversible</h5>
            </div>
            <div class="modal-body">
                Type CONFIRM to delete
                <input type="text" id="confirmInput" class="form-control" />
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        document.getElementById('deleteForm').addEventListener('submit', function (event) {
            event.preventDefault();
            $('#' + '@confirmModalId').modal('show');
        });

        document.getElementById('confirmDeleteButton').addEventListener('click', function () {
            if (document.getElementById('confirmInput').value === 'CONFIRM') {
                document.getElementById('deleteForm').submit();
            }
        });
    </script>
}

