@page
@model TransactionsIndividualAccountModel
@{
    ViewData["Title"] = "Transactions for Account " + Model.AccountId;
}


<div class="page-heading header-text">
    <h1>@ViewData["Title"]</h1>
    <h2>Current Balance: @Model.Balance</h2>
    <button type="button" class="btn btn-secondary mt-3" onclick="window.history.back();">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return
    </button>
</div>

<div class="container my-3">
    <form method="get">
        <input type="hidden" name="accountId" value="@Model.AccountId">
        <div class="input-group mb-3" style="width: 320px; margin-top: 10px; margin-left: -14px;">
            <input type="text" class="form-control" name="query" placeholder="Search Transaction ID" value="@Model.Search">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="fa-solid fa-magnifying-glass mr-2"></i>Search
                </button>
            </div>
        </div>
    </form>
</div>


<table class="table container table-hover table-bordered shadow p-3 mb-5 bg-white rounded">
    <thead>
        <tr>
            <th scope="col">
                Transaction ID
                <a asp-page="/Transactions/TransactionsIndividualAccount"
                   asp-route-accountId="@Model.AccountId"
                   asp-route-sortColumn="TransactionId"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Transactions/TransactionsIndividualAccount"
                   asp-route-accountId="@Model.AccountId"
                   asp-route-sortColumn="TransactionId"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th class="d-none d-sm-table-cell">
                Date
                <a asp-page="/Transactions/TransactionsIndividualAccount"
                   asp-route-accountId="@Model.AccountId"
                   asp-route-sortColumn="DateOfTransaction"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Transactions/TransactionsIndividualAccount"
                   asp-route-accountId="@Model.AccountId"
                   asp-route-sortColumn="DateOfTransaction"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th class="d-none d-sm-table-cell">
                Type
                <a asp-page="/Transactions/TransactionsIndividualAccount"
                   asp-route-accountId="@Model.AccountId"
                   asp-route-sortColumn="Type"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Transactions/TransactionsIndividualAccount"
                   asp-route-accountId="@Model.AccountId"
                   asp-route-sortColumn="Type"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th class="d-none d-sm-table-cell">
                Operation
                <a asp-page="/Transactions/TransactionsIndividualAccount"
                   asp-route-accountId="@Model.AccountId"
                   asp-route-sortColumn="Operation"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Transactions/TransactionsIndividualAccount"
                   asp-route-accountId="@Model.AccountId"
                   asp-route-sortColumn="Operation"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th>
                Amount
                <a asp-page="/Transactions/TransactionsIndividualAccount"
                   asp-route-accountId="@Model.AccountId"
                   asp-route-sortColumn="Amount"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Transactions/TransactionsIndividualAccount"
                   asp-route-accountId="@Model.AccountId"
                   asp-route-sortColumn="Amount"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th>
                Balance
                <a asp-page="/Transactions/TransactionsIndividualAccount"
                   asp-route-accountId="@Model.AccountId"
                   asp-route-sortColumn="Balance"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/Transactions/TransactionsIndividualAccount"
                   asp-route-accountId="@Model.AccountId"
                   asp-route-sortColumn="Balance"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody id="transactionTable">
        @if (Model.Transactions != null)
        {
            @foreach (var transaction in Model.Transactions)
            {
                <tr>
                    <td>
                        <a asp-page="/Transactions/TransactionDetails" asp-route-transactionId="@transaction.TransactionId" class="btn btn-outline-secondary btn-block">
                            <i class="fa-solid fa-eye mr-2"></i>@transaction.TransactionId
                        </a>
                    </td>
                    <td class="d-none d-sm-table-cell">@transaction.DateOfTransaction</td>
                    <td class="d-none d-sm-table-cell">@transaction.Type</td>
                    <td class="d-none d-sm-table-cell">@transaction.Operation</td>
                    <td>SEK: @transaction.Amount</td>
                    <td>SEK: @transaction.Balance</td>
                </tr>
            }
        }
    </tbody>
</table>

<div style="text-align: center">
    <a id="update-profile-button" class="btn btn-primary mb-3">
        <i class="fa-solid fa-arrows-rotate mr-2"></i>Load More
    </a>
</div>

@section Scripts {
    <script>

        let pageNo = 2;
        let loadedTransactionIds = [];
        let urlParams = new URLSearchParams(window.location.search);
        let currentSortColumn = urlParams.get('sortColumn') || 'DateOfTransaction';
        let currentSortOrder = urlParams.get('sortOrder') || 'desc';

        document.querySelectorAll('a[asp-route-sortColumn]').forEach(link => {
            link.addEventListener('click', () => {
                currentSortColumn = link.getAttribute('asp-route-sortColumn');
                currentSortOrder = link.getAttribute('asp-route-sortOrder');
            });
        });

        document.getElementById('update-profile-button').addEventListener('click', () => {
            loadMore(currentSortColumn, currentSortOrder);
        });

        function loadMore(sortColumn, sortOrder) {
            fetch(`/Transactions/TransactionsIndividualAccount?handler=LoadMoreTransactions&pageNo=${pageNo}&accountId=@Model.AccountId&loadedTransactionIds=${loadedTransactionIds.join(',')}&sortColumn=${sortColumn}&sortOrder=${sortOrder}`)
                .then((response) => response.json())
                .then((json) => {
                    json.transactions.forEach(transaction => {
                        loadedTransactionIds.push(transaction.transactionId);
                        drawElements(transaction);
                    });
                    pageNo = pageNo + 1;

                    if (!json.hasMore) {
                        let loadMoreButton = document.getElementById('update-profile-button');
                        loadMoreButton.disabled = true;
                        loadMoreButton.style.backgroundColor = '#cccccc'; // Add inline style
                        loadMoreButton.style.color = '#666666'; // Add inline style
                        loadMoreButton.style.pointerEvents = 'none';

                        let message = document.createElement('p');
                        message.style.color = 'red';
                        message.textContent = 'No more transactions to load';
                        document.querySelector('div[style="text-align: center"]').appendChild(message);
                    }
                });
        }

        function drawElements(transaction) {
            let tableBody = document.querySelector('#transactionTable');
            let row = document.createElement('tr');

            row.innerHTML =
                `<td>
                            <a href="/Transactions/TransactionDetails?transactionId=${transaction.transactionId}" class="btn btn-outline-secondary btn-block">
                                <i class="fa-solid fa-eye mr-2"></i>${transaction.transactionId}
                            </a>
                        </td>
                        <td class="d-none d-sm-table-cell">${new Date(transaction.dateOfTransaction).toLocaleDateString()}</td>
                        <td class="d-none d-sm-table-cell">${transaction.type}</td>
                        <td class="d-none d-sm-table-cell">${transaction.operation}</td>
                        <td>SEK: ${transaction.amount}</td>
                        <td>SEK: ${transaction.balance}</td>`;

            tableBody.appendChild(row);
        }

    </script>
}