@page
@model TransactionAdminInfoModel
@{
    int startPage = Model.CurrentPage - 1 <= 0 ? 1 : Model.CurrentPage - 1;
    int endPage = startPage + 2 > Model.Transactions.PageCount ? Model.Transactions.PageCount : startPage + 2;
}

<div class="page-heading header-text">
    <h1>Transactions</h1>
    <h3 class="mb-3">Total: @Model.TotalTransactions.ToString("N0")</h3>
    <button type="button" class="btn btn-secondary" onclick="window.history.back();">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return
    </button>
</div>

<div class="container">
    <form method="get" class="text-left mt-4">
        <div class="input-group mb-3" style="width: 330px; margin-top: 10px;">
            <input type="number" class="form-control" name="query" placeholder="Search Transaction ID" value="@Request.Query["search"]">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="fa-solid fa-magnifying-glass mr-2"></i>Search
                </button>
            </div>
        </div>
    </form>

    <table class="table table-hover table-bordered shadow p-3 mb-5 bg-white rounded">
    <thead>
        <tr>
            <th scope="col">
                Transaction ID
                   <a asp-page="/Transactions/TransactionAdminInfo"
                   asp-route-sortColumn="TransactionId"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                   <a asp-page="/Transactions/TransactionAdminInfo"
                   asp-route-sortColumn="TransactionId"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Account ID
                   <a asp-page="/Transactions/TransactionAdminInfo"
                   asp-route-sortColumn="AccountId"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                   <a asp-page="/Transactions/TransactionAdminInfo"
                   asp-route-sortColumn="AccountId"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col" class="d-none d-sm-table-cell">
                Customer ID
                   <a asp-page="/Transactions/TransactionAdminInfo"
                   asp-route-sortColumn="CustomerId"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                   <a asp-page="/Transactions/TransactionAdminInfo"
                   asp-route-sortColumn="CustomerId"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col" class="d-none d-sm-table-cell">
                Date
                   <a asp-page="/Transactions/TransactionAdminInfo"
                   asp-route-sortColumn="DateOfTransaction"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                   <a asp-page="/Transactions/TransactionAdminInfo"
                   asp-route-sortColumn="DateOfTransaction"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Amount
                   <a asp-page="/Transactions/TransactionAdminInfo"
                   asp-route-sortColumn="Amount"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                   <a asp-page="/Transactions/TransactionAdminInfo"
                   asp-route-sortColumn="Amount"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var transaction in Model.Transactions.Results)
        {
            <tr>
                <td>
                    <a asp-page="/Transactions/TransactionDetails"
                       asp-route-transactionId="@transaction.TransactionId"
                       class="btn btn-outline-secondary btn-block">
                        <i class="fa-solid fa-eye mr-2"></i>
                       @transaction.TransactionId
                    </a>
                </td>
                <td>
                    <a asp-page="/Accounts/Account"
                       asp-route-accountIds="@transaction.AccountId"
                       class="btn btn-outline-secondary btn-block">
                        <i class="fa-solid fa-eye mr-2"></i>
                        @transaction.AccountId
                    </a>
                </td>
                    <td class="d-none d-sm-table-cell">
                    <a asp-page="/Customers/CustomerDetails"
                       asp-route-id="@transaction.CustomerId"
                       class="btn btn-outline-secondary btn-block">
                        <i class="fa-solid fa-eye mr-2"></i>
                        @transaction.CustomerId
                    </a>
                </td>
                <td class="d-none d-sm-table-cell">@transaction.DateOfTransaction</td>
                <td>SEK: @transaction.Amount.ToString("N2")</td>
            </tr>
        }
    </tbody>

        <tfoot>
            <tr>
                <td colspan="6">
                    <div style="display: flex; flex-direction: row; justify-content: flex-start; gap: 6px;">
                        <a class="btn btn-primary d-none d-sm-table-cell" id="update-profile-button"
                           asp-route-pageNo="1"
                           asp-route-sortColumn="@Request.Query["sortColumn"]"
                           asp-route-sortOrder="@Request.Query["sortOrder"]">First</a>

                        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : "")" id="update-profile-button"
                           asp-route-pageNo="@(Model.CurrentPage > 1 ? (Model.CurrentPage - 1).ToString() : "#")"
                           asp-route-sortColumn="@Request.Query["sortColumn"]"
                           asp-route-sortOrder="@Request.Query["sortOrder"]">Previous</a>

                        @for (int i = startPage; i <= endPage; i++)
                        {
                            <a class="btn @(Model.CurrentPage == i ? "btn-primary" : "btn-secondary")" id="@(Model.CurrentPage == i ? "update-profile-button" : "")"
                               asp-route-pageNo="@i"
                               asp-route-sortColumn="@Request.Query["sortColumn"]"
                               asp-route-sortOrder="@Request.Query["sortOrder"]">@i</a>
                        }

                        <a class="btn btn-primary @(Model.CurrentPage == Model.Transactions.PageCount ? "disabled" : "")" id="update-profile-button"
                           asp-route-pageNo="@(Model.CurrentPage < Model.Transactions.PageCount ? (Model.CurrentPage + 1).ToString() : "#")"
                           asp-route-sortColumn="@Request.Query["sortColumn"]"
                           asp-route-sortOrder="@Request.Query["sortOrder"]">Next</a>

                        <p class="d-none d-sm-table-cell">Page @Model.CurrentPage of @Model.Transactions.PageCount</p>

                        <a class="btn btn-primary d-none d-sm-table-cell" id="update-profile-button"
                           asp-route-pageNo="@Model.Transactions.PageCount"
                           asp-route-sortColumn="@Request.Query["sortColumn"]"
                           asp-route-sortOrder="@Request.Query["sortOrder"]">Last</a>
                    </div>
                </td>
            </tr>
        </tfoot>

</table>
</div>

