@page
@model BankWeb.Pages.AccountsFolder.AccountModel
@{
}

<div class="page-heading header-text">
    <h1 class="text-center">Account Information</h1>
    <button id="update-profile-button" type="button" class="btn btn-primary" onclick="window.history.back();">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return
    </button>
</div>

<table class="table table-striped container table-hover">
    <tr>
        <th scope="col">Account ID</th>
        <th scope="col">Frequency</th>
        <th scope="col">Created</th>
        <th scope="col">Balance</th>
        <th scope="col">Type</th>
        <th scope="col">Customers</th>
        <th scope="col">Transactions</th>
        <th scope="col">Actions</th>
    </tr>

    @foreach (var account in Model.Accounts)
    {
        <tr>
            <td>@account.AccountId</td>
            <td>@account.Frequency</td>
            <td>@account.Created</td>
            <td>SEK: @account.Balance</td>
            <td>@account.Type</td>
            <td>
                @foreach (var customerDisposition in account.Customers)
                {
                    <p>
                        <a asp-page="/CustomersFolder/CustomerDetails" asp-route-id="@customerDisposition.Customer.CustomerId">
                            @customerDisposition.Customer.Givenname @customerDisposition.Customer.Surname (@customerDisposition.DispositionType)
                        </a>
                    </p>
                }
            </td>
            <td>
                <a asp-page="/TransactionsFolder/TransactionsIndividualAccount" asp-route-accountId="@account.AccountId" id="update-profile-button" class="btn btn-primary">View</a>
            </td>
            <td>
                    <a asp-page="/TransactionsFolder/Deposit" asp-route-accountId="@account.AccountId" id="update-profile-button" class="btn btn-primary" title="Deposit">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                    <a asp-page="/TransactionsFolder/Withdraw" asp-route-accountId="@account.AccountId" id="update-profile-button" class="btn btn-primary" title="Withdraw">
                        <i class="fa-solid fa-minus"></i>
                    </a>
                    <a asp-page="/TransactionsFolder/Transfer" asp-route-accountId="@account.AccountId" id="update-profile-button" class="btn btn-primary" title="Transfer">
                        <i class="fa-solid fa-right-left"></i>
                    </a>
            </td>
        </tr>
    }
</table>

