@page
@model BankWeb.Pages.AccountsFolder.AccountModel
@{
}

<div class="page-heading header-text">
    <h1 class="text-center">Account Information</h1>
    <button type="button" class="btn btn-secondary" onclick="window.history.back();">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return
    </button>
</div>

<table class="table table-striped container table-hover table-bordered">
    <tr>
        <th scope="col">Account ID</th>
        <th scope="col" class="d-none d-sm-table-cell">Frequency</th>
        <th scope="col" class="d-none d-sm-table-cell">Created</th>
        <th scope="col">Balance</th>
        <th scope="col" class="d-none d-sm-table-cell">Customers</th>
        <th scope="col">Transactions</th>
        <th scope="col" class="d-none d-sm-table-cell">Actions</th>
    </tr>

    @foreach (var account in Model.Accounts)
    {
        <tr>
            <td>@account.AccountId</td>
            <td class="d-none d-sm-table-cell">@account.Frequency</td>
            <td class="d-none d-sm-table-cell">@account.Created</td>
            <td>SEK: @account.Balance</td>
            <td class="d-none d-sm-table-cell">
                @foreach (var customerDisposition in account.Customers)
                {
                    <p>
                        <a asp-page="/CustomersFolder/CustomerDetails" asp-route-id="@customerDisposition.Customer.CustomerId">
                            <i class="fa-solid fa-eye mr-2"></i>@customerDisposition.Customer.Givenname @customerDisposition.Customer.Surname (@customerDisposition.DispositionType)
                        </a>
                    </p>
                }
            </td>
            <td>
                <a asp-page="/TransactionsFolder/TransactionsIndividualAccount" asp-route-accountId="@account.AccountId" class="btn btn-outline-secondary btn-block">
                    <i class="fa-solid fa-eye mr-2"></i>View
                </a>
            </td>
            <td class="d-none d-sm-table-cell">
                <a asp-page="/TransactionsFolder/Deposit" asp-route-accountId="@account.AccountId" id="update-profile-button" class="btn btn-primary" title="Deposit">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                <a asp-page="/TransactionsFolder/Withdraw" asp-route-accountId="@account.AccountId" id="update-profile-button" class="btn btn-primary" title="Withdraw">
                        <i class="fa-solid fa-minus"></i>
                    </a>
                <a asp-page="/TransactionsFolder/Transfer" asp-route-accountId="@account.AccountId" id="update-profile-button" class="btn btn-primary" title="Transfer">
                        <i class="fa-solid fa-right-left"></i>
                    </a>
                    <a asp-page="/AccountsFolder/DeleteAccount" asp-route-id="@account.AccountId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>

