@page
@model BankWeb.Pages.UsersFolder.ManageUsersModel
@{
    ViewData["Title"] = "Manage Users";
}

<div class="page-heading header-text">
    <h1>@ViewData["Title"]</h1>
    <button id="update-profile-button" type="button" class="btn btn-primary mt-3" onclick="window.history.back();">Return</button>
</div>


<div class="container" style="width: 80%; margin: auto; padding: 20px;">

@if (TempData["UserDeletedMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["UserDeletedMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

    <div class="d-flex justify-content-between align-items-center">
        <form method="get" class="my-2 my-lg-0" asp-page="/UsersFolder/ManageUsers">
            <div class="input-group" style="width: 400px; margin-top: 10px; margin-bottom: 15px;">
                <input type="text" class="form-control" name="query" placeholder="Search User Email" value="@Request.Query["query"]">
                <div class="input-group-append">
                    <button id="update-profile-button" class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>

        <a asp-area="Identity" asp-page="/Account/Register" id="update-profile-button" class="btn btn-primary">Create New User</a>
    </div>

    <table class="table container table-hover">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>
                        @string.Join(", ", await Model.GetRoles(user))
                    </td>
                    <td>
                        <a id="update-profile-button" class="btn btn-primary" asp-page="EditUser" asp-route-id="@user.Id">Edit</a>
                        <a class="btn btn-danger" asp-page="DeleteUser" asp-route-id="@user.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
