@page
@model CustomerAdminInfoModel
@{
    int startPage = Model.CurrentPage - 1 <= 0 ? 1 : Model.CurrentPage - 1;
    int endPage = startPage + 2 > Model.PageCount ? Model.PageCount : startPage + 2;
}


<div class="page-heading header-text">
    <h1>Customers</h1>
    <button id="update-profile-button" type="button" class="btn btn-primary" onclick="location.href='/CustomersFolder/CustomerAdminInfo';">Return to List</button>
</div>

<div class="container" style="width: 80%; margin: auto; padding: 20px;">

<form method="get" class="text-left" asp-page="/CustomersFolder/CustomerAdminInfo">
    <div class="form-group d-inline-block" style="width: 300px; margin-top: 10px;">
        <input type="text" class="form-control" name="query" placeholder="Search Customer ID, Name or City" value="@Request.Query["query"]">
    </div>
    <button id="update-profile-button" type="submit" class="btn btn-primary">Search</button>
</form>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["Message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Customer Id
                <a asp-page="/CustomersFolder/CustomerAdminInfo"
                   asp-route-sortColumn="CustomerId"
                   asp-route-sortOrder="asc"
                   asp-route-query="@Model.Search"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/CustomersFolder/CustomerAdminInfo"
                   asp-route-sortColumn="CustomerId"
                   asp-route-sortOrder="desc"
                   asp-route-query="@Model.Search"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Accounts
                <a asp-page="/CustomersFolder/CustomerAdminInfo"
                   asp-route-sortColumn="AccountId"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/CustomersFolder/CustomerAdminInfo"
                   asp-route-sortColumn="AccountId"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Name
                <a asp-page="/CustomersFolder/CustomerAdminInfo"
                   asp-route-sortColumn="Givenname"
                   asp-route-sortOrder="asc"
                   asp-route-query="@Model.Search"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/CustomersFolder/CustomerAdminInfo"
                   asp-route-sortColumn="Givenname"
                   asp-route-sortOrder="desc"
                   asp-route-query="@Model.Search"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Lastname
                <a asp-page="/CustomersFolder/CustomerAdminInfo"
                   asp-route-sortColumn="Surname"
                   asp-route-sortOrder="asc"
                   asp-route-query="@Model.Search"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/CustomersFolder/CustomerAdminInfo"
                   asp-route-sortColumn="Surname"
                   asp-route-sortOrder="desc"
                   asp-route-query="@Model.Search"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Address
                <a asp-page="/CustomersFolder/CustomerAdminInfo"
                   asp-route-sortColumn="Streetaddress"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/CustomersFolder/CustomerAdminInfo"
                   asp-route-sortColumn="Streetaddress"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                City
                <a asp-page="/CustomersFolder/CustomerAdminInfo"
                   asp-route-sortColumn="City"
                   asp-route-sortOrder="asc"
                   asp-route-query="@Model.Search"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                <a asp-page="/CustomersFolder/CustomerAdminInfo"
                   asp-route-sortColumn="City"
                   asp-route-sortOrder="desc"
                   asp-route-query="@Model.Search"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
                <th scope="col">
                    Country
                    <a asp-page="/CustomersFolder/CustomerAdminInfo"
                       asp-route-sortColumn="Country"
                       asp-route-sortOrder="asc"
                       asp-route-query="@Model.Search"
                       style="text-decoration: none">
                        <i class="fa-solid fa-angle-up"></i>
                    </a>
                    <a asp-page="/CustomersFolder/CustomerAdminInfo"
                       asp-route-sortColumn="Country"
                       asp-route-sortOrder="desc"
                       asp-route-query="@Model.Search"
                       style="text-decoration: none">
                        <i class="fa-solid fa-angle-down"></i>
                    </a>
                </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>
                    <a asp-page="/CustomersFolder/CustomerDetails" asp-route-id="@customer.CustomerId" id="update-profile-button" class="btn btn-primary">
                        View ID: @customer.CustomerId
                    </a>
                </td>
                    <td>
                        <a asp-page="/AccountsFolder/Account" asp-route-accountIds="@string.Join(',', customer.Accounts.Select(a => a.AccountId))" class="btn btn-primary" id="update-profile-button">View</a>
                    </td>
                <td>@customer.Givenname</td>
                <td>@customer.Surname</td>
                <td>@customer.Streetaddress</td>
                <td>@customer.City</td>
                <td>@customer.Country</td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="6">
                <div style="display: flex; flex-direction: row; justify-content: flex-start; gap: 6px;">
                    <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : "")" id="update-profile-button"
                       href='@(Model.CurrentPage > 1 ? "?page=" + (Model.CurrentPage - 1) + "&sortColumn=" + Request.Query["sortColumn"] + "&sortOrder=" + Request.Query["sortOrder"] + "&query=" + Request.Query["query"] : "#")'>Previous</a>

                    @for (int i = startPage; i <= endPage; i++)
                    {
                        <a class="btn @(Model.CurrentPage == i ? "btn-primary" : "btn-secondary")" id="@(Model.CurrentPage == i ? "update-profile-button" : "")"
                           href='?page=@i&sortColumn=@Request.Query["sortColumn"]&sortOrder=@Request.Query["sortOrder"]&query=@Request.Query["query"]'>@i</a>
                    }

                    <a class="btn btn-primary @(Model.CurrentPage == Model.PageCount ? "disabled" : "")" id="update-profile-button"
                       href='@(Model.CurrentPage < Model.PageCount ? "?page=" + (Model.CurrentPage + 1) + "&sortColumn=" + Request.Query["sortColumn"] + "&sortOrder=" + Request.Query["sortOrder"] + "&query=" + Request.Query["query"] : "#")'>Next</a>

                    <p>Page @Model.CurrentPage of @Model.PageCount</p>

                    <a class="btn btn-primary" id="update-profile-button"
                       href='?page=1&sortColumn=@Request.Query["sortColumn"]&sortOrder=@Request.Query["sortOrder"]&query=@Request.Query["query"]'>First</a>

                    <a class="btn btn-primary" id="update-profile-button"
                       href='?page=@Model.PageCount&sortColumn=@Request.Query["sortColumn"]&sortOrder=@Request.Query["sortOrder"]&query=@Request.Query["query"]'>Last</a>
                </div>
            </td>
        </tr>
    </tfoot>

</table>
</div>
