@page
@model CustomerDetailsModel
@{
    ViewData["Title"] = "Customer Details";
}

<style>
    .large-icon {
        font-size: 1.5em; 
    }

    .large-text {
        font-size: 1.5em; 
    }
</style>

<div class="page-heading header-text">
    <h1>@ViewData["Title"]</h1>
    <button id="update-profile-button" type="button" class="btn btn-primary" onclick="window.history.back();">Return</button>
</div>

<div class="container" style="width: 80%; margin: auto; padding: 20px;">

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["Message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <!-- Customer card -->
    <div class="card">
        <div class="card-header">
            <i class="@ViewData["GenderIcon"] large-icon"></i> <!-- Font Awesome icon -->
            <span class="large-text">@Model.Customer.Givenname @Model.Customer.Surname</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">@Model.Customer.Streetaddress, @Model.Customer.Country</h5>
            <p class="card-text mb-3">Total Balance: SEK: @Model.Customer.TotalBalance</p>
            <a asp-page="/AccountsFolder/CreateAccount" asp-route-customerId="@Model.Customer.CustomerId" id="update-profile-button" class="btn btn-primary">Create Account</a>
            <a asp-page="/CustomersFolder/Create" id="update-profile-button" class="btn btn-primary">Create Customer</a>
            <a asp-page="/CustomersFolder/Edit" asp-route-id="@Model.Customer.CustomerId" id="update-profile-button" class="btn btn-primary">Edit Customer</a>
            <a asp-page="/CustomersFolder/Delete" asp-route-id="@Model.Customer.CustomerId" class="btn btn-danger">Delete Customer</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Account ID</th>
                <th scope="col">Frequency</th>
                <th scope="col">Created</th>
                <th scope="col">Account Balance</th>
                <th scope="col">Type</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model.Customer.Accounts)
            {
                <tr>
                    <td>
                        <a asp-page="/AccountsFolder/Account" asp-route-accountIds="@account.AccountId" id="update-profile-button" class="btn btn-primary">@account.AccountId</a>
                    </td>
                    <td>@account.Frequency</td>
                    @* <td>@DateTime.Parse(account.Created).Year</td> *@
                    <td>@account.Created</td>
                    <td>SEK: @account.Balance</td>
                    <td>@account.Type</td>
                    <td>
                        <a asp-page="/TransactionsFolder/Deposit" asp-route-accountId="@account.AccountId" id="update-profile-button" class="btn btn-primary" title="Deposit">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                        <a asp-page="/TransactionsFolder/Withdraw" asp-route-accountId="@account.AccountId" id="update-profile-button" class="btn btn-primary" title="Withdraw">
                            <i class="fa-solid fa-minus"></i>
                        </a>
                        <a asp-page="/TransactionsFolder/Transfer" asp-route-accountId="@account.AccountId" id="update-profile-button" class="btn btn-primary" title="Transfer">
                            <i class="fa-solid fa-right-left"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


