@page
@model CustomerAdminInfoModel
@{
}

<div class="page-heading header-text">
    <h1>All Customers</h1>
    <button id="update-profile-button" type="button" class="btn btn-primary" onclick="window.history.back();">Return</button>
</div>

<form method="get" class="text-center">
    <div class="form-group d-inline-block" style="width: 200px; margin-top: 10px;">
        <input type="text" class="form-control" name="search" placeholder="Enter Customer ID" value="@Request.Query["search"]">
    </div>
    <button id="update-profile-button" type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Customer Id</th>
            <th scope="col">Account</th>
            <th scope="col">Account Id</th>
            <th scope="col">Given Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Streetaddress</th>
            <th scope="col">City</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>
                    <a asp-page="/CustomersFolder/CustomerDetails" asp-route-id="@customer.CustomerId" id="update-profile-button" class="btn btn-primary">
                        @customer.CustomerId
                    </a>
                </td>
                <td>
                    <a asp-page="/TransactionsFolder/TransactionsIndividualAccount" asp-route-accountId="@customer.AccountId">See the transactions</a>
                </td>
                <td>@customer.AccountId</td>
                <td>@customer.Givenname</td>
                <td>@customer.Surname</td>
                <td>@customer.Streetaddress</td>
                <td>@customer.City</td>
                <td>
                    @foreach (var account in customer.Accounts)
                    {
                        <a asp-page="/TransactionsFolder/Deposit" asp-route-accountId="@account.AccountId" id="update-profile-button" class="btn btn-primary">Deposit</a>
                        <a asp-page="/TransactionsFolder/Withdraw" asp-route-accountId="@account.AccountId" id="update-profile-button" class="btn btn-primary">Withdraw</a>
                        <a asp-page="/TransactionsFolder/Transfer" asp-route-accountId="@account.AccountId" id="update-profile-button" class="btn btn-primary">Transfer</a>
                    }
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="2" style="display: flex; gap: 6px;">
                <button id="update-profile-button" class="btn btn-primary" onclick="location.href='?page=@(Model.CurrentPage - 1)'" @(Model.CurrentPage == 1 ? "disabled" : "")>Previous</button>
                <button id="update-profile-button" class="btn btn-primary" onclick="location.href='?page=@(Model.CurrentPage + 1)'">Next</button>
                <p>Page @Model.CurrentPage of @Model.TotalPages</p>
                <button id="update-profile-button" class="btn btn-primary" onclick="location.href='?page=1'">First</button>
                <button id="update-profile-button" class="btn btn-primary" onclick="location.href='?page=@Model.TotalPages'">Last</button>
            </td>
        </tr>
    </tfoot>
</table>
