@page
@model CustomerDetailsModel
@{
    ViewData["Title"] = "Customer Details";
}

<style>
    .large-icon {
        font-size: 2em; 
        margin-right: 10px;
    }

    .large-text {
        font-size: 1.5em; 
    }
</style>

<div class="page-heading header-text">
    <h1>@ViewData["Title"]</h1>
    <a class="btn btn-secondary" asp-page="/CustomersFolder/CustomerAdminInfo">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return to List
    </a>
</div>

<div class="container" style="width: 80%; margin: auto; padding: 20px;">

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["Message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @if (TempData["BankMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @Html.Raw(TempData["BankMessage"])
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @if (TempData["EditMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
            @Html.Raw(TempData["EditMessage"])
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="card">
        <div class="card-header">
            <i class="@ViewData["GenderIcon"] large-icon" style="color: @ViewData["GenderColor"]"></i>
            <span class="large-text">@Model.Customer.Givenname @Model.Customer.Surname</span>
        </div>
        <div class="card-body">
            <h5 class="card-text mb-3">Total Balance: SEK: @Model.Customer.TotalBalance</h5>
            <p class="card-title">
                <a href="https://www.google.com/maps/search/?api=1&query=@System.Net.WebUtility.UrlEncode(Model.Customer.Streetaddress + ", " + Model.Customer.City + ", " + Model.Customer.Country)" target="_blank">
                    <i class="fa-solid fa-up-right-from-square mr-2"></i>@Model.Customer.Streetaddress, @Model.Customer.City, @Model.Customer.Country
                </a>
            </p>
            <div class="row">
                <div class="col-md-4">
                    <p class="card-title">Gender: @Model.Customer.Gender</p>
                    <p class="card-title">City: @Model.Customer.City</p>
                    <p class="card-title">Zip Code: @Model.Customer.Zipcode</p>
                    <p class="card-title">Country: @Model.Customer.Country</p>
                    @if (!string.IsNullOrEmpty(Model.Customer.NationalId))
                    {
                        <p class="card-title">National ID: @Model.Customer.NationalId</p>
                    }
                    else
                    {
                        <p class="card-title>">National ID: N/A</p>
                    }
                </div>
                <div class="col-md-4">
                    <p class="card-title">Country Code: @Model.Customer.CountryCode</p>
                    <p class="card-title">Birthday: @Model.Customer.Birthday</p>
                    <p class="card-title">Telephone Country Code: @Model.Customer.Telephonecountrycode</p>
                    <p class="card-title">Telephone Number: @Model.Customer.Telephonenumber</p>
                    <p class="card-title">Email: @Model.Customer.Emailaddress</p>
                </div>
            </div>
            
            <a asp-page="/AccountsFolder/CreateAccount" asp-route-customerId="@Model.Customer.CustomerId" id="update-profile-button" class="btn btn-primary">
                <i class="fa-solid fa-plus mr-2"></i>Create New Account
            </a>
            <a asp-page="/CustomersFolder/Edit" asp-route-id="@Model.Customer.CustomerId" id="update-profile-button" class="btn btn-primary">
                <i class="fa-solid fa-pen-to-square mr-2"></i>Edit Customer
            </a>
            <a asp-page="/CustomersFolder/Delete" asp-route-id="@Model.Customer.CustomerId" class="btn btn-danger">
                <i class="fa-solid fa-trash-can mr-2"></i>Delete Customer
            </a>
        </div>
    </div>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Account ID</th>
                <th scope="col" class="d-none d-sm-table-cell">Frequency</th>
                <th scope="col" class="d-none d-sm-table-cell">Created</th>
                <th scope="col" class="d-none d-sm-table-cell">Balance</th>
                <th scope="col" class="d-none d-sm-table-cell">Type</th>
                <th scope="col">Transactions</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model.Customer.Accounts)
            {
                <tr>
                    <td>
                        <a asp-page="/AccountsFolder/Account" asp-route-accountIds="@account.AccountId" class="btn btn-outline-secondary btn-block">
                            <i class="fa-solid fa-eye mr-2"></i>@account.AccountId
                        </a>
                    </td>
                    <td class="d-none d-sm-table-cell">@account.Frequency</td>
                    <td class="d-none d-sm-table-cell">@account.Created</td>
                    <td class="d-none d-sm-table-cell">SEK: @account.Balance</td>
                    <td class="d-none d-sm-table-cell">@account.Type</td>
                    <td>
                        <a asp-page="/TransactionsFolder/TransactionsIndividualAccount" asp-route-accountId="@account.AccountId" class="btn btn-outline-secondary btn-block">
                            <i class="fa-solid fa-eye mr-2"></i>View
                        </a>
                    </td>
                    <td>
                        <a asp-page="/TransactionsFolder/Deposit" asp-route-accountId="@account.AccountId" id="update-profile-button" class="btn btn-primary" title="Deposit">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                        <a asp-page="/TransactionsFolder/Withdraw" asp-route-accountId="@account.AccountId" id="update-profile-button" class="btn btn-primary" title="Withdraw">
                            <i class="fa-solid fa-minus"></i>
                        </a>
                        <a asp-page="/TransactionsFolder/Transfer" asp-route-accountId="@account.AccountId" id="update-profile-button" class="btn btn-primary" title="Transfer">
                            <i class="fa-solid fa-right-left"></i>
                        </a>
                        <a asp-page="/AccountsFolder/DeleteAccount" asp-route-id="@account.AccountId" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can mr-2"></i>Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


