@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="page-heading header-text">
    <h1>@ViewData["Title"]</h1>
    <h3>Are you sure you want to delete Customer Id @Model.Customer.CustomerId?</h3>
    <button type="button" class="btn btn-secondary mt-3" onclick="window.history.back();">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return to Customer
    </button>
</div>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center min-vh-100">
        <div class="col-md-8">
            <hr />
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Gender)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Gender)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Givenname)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Givenname)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Surname)</th>
                        <td>@Html.DisplayNameFor(model => model.Customer.Surname)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Streetaddress)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Streetaddress)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.City)</th>
                        <td>@Html.DisplayFor(model => model.Customer.City)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Zipcode)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Zipcode)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Country)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Country)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.CountryCode)</th>
                        <td>@Html.DisplayFor(model => model.Customer.CountryCode)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Birthday)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Birthday)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.NationalId)</th>
                        <td>@Html.DisplayFor(model => model.Customer.NationalId)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Telephonecountrycode)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Telephonecountrycode)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Telephonenumber)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Telephonenumber)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Customer.Emailaddress)</th>
                        <td>@Html.DisplayFor(model => model.Customer.Emailaddress)</td>
                    </tr>
                </tbody>
            </table>
            <form method="post">
                <input type="hidden" asp-for="Customer.CustomerId" />
                <div class="form-group d-flex justify-content-center">
                    <input type="submit" value="Delete" class="btn btn-danger mr-2" />
                </div>
            </form>
        </div>
    </div>
</div>


