@page
@model BankWeb.Pages.CustomerCRUD.EditModel

@{
    ViewData["Title"] = "Edit Customer";
}

<div class="page-heading header-text">
    <h1>@ViewData["Title"]</h1>
    <button id="update-profile-button" type="button" class="btn btn-primary" onclick="window.history.back();">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return to Customer
    </button>
</div>

<hr />
<div class="container">
    <div class="row d-flex justify-content-center align-items-center min-vh-100">
        <div class="col-md-8">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @* <input type="hidden" asp-for="Customer.CustomerId" /> *@
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Gender" class="control-label"></label>
                            <select asp-for="Gender" class="form-control">
                                <option value="">Select gender...</option>
                                <option value="male">male</option>
                                <option value="female">female</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Givenname" class="control-label"></label>
                            <input asp-for="Givenname" class="form-control" />
                            <span asp-validation-for="Givenname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Surname" class="control-label"></label>
                            <input asp-for="Surname" class="form-control" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Streetaddress" class="control-label"></label>
                            <input asp-for="Streetaddress" class="form-control" />
                            <span asp-validation-for="Streetaddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Zipcode" class="control-label"></label>
                            <input asp-for="Zipcode" class="form-control" />
                            <span asp-validation-for="Zipcode" class="text-danger"></span>
                        </div>
                        @* <div class="form-group">
                            <label for="DispositionType" class="control-label">Disposition Type</label>
                            <select asp-for="DispositionType" class="form-control">
                                <option value="OWNER">Owner</option>
                                <option value="DISPONENT">Disponent</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Frequency" class="control-label">Frequency</label>
                            <select asp-for="Frequency" class="form-control">
                                <option value="Monthly">Monthly</option>
                                <option value="Weekly">Weekly</option>
                                <option value="AfterTransaction">After Transaction</option>
                            </select>
                        </div> *@
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Country" class="control-label"></label>
                            <select asp-for="Country" class="form-control" id="countryDropdown">
                                <option value="">Select Country...</option>
                                <option value="Sweden">Sweden</option>
                                <option value="Norway">Norway</option>
                                <option value="Denmark">Denmark</option>
                                <option value="Finland">Finland</option>
                            </select>
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CountryCode" class="control-label"></label>
                            <input asp-for="CountryCode" class="form-control" readonly id="countryCode" />
                            <span asp-validation-for="CountryCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Birthday</label>
                            <select asp-for="BirthdayYear" class="form-control">
                                <option value="">Select Year...</option>
                                @for (int i = DateTime.Now.Year; i >= 1900; i--)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <span asp-validation-for="BirthdayYear" class="text-danger"></span>
                            <select asp-for="BirthdayMonth" class="form-control mt-1">
                                <option value="">Select Month...</option>
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <span asp-validation-for="BirthdayMonth" class="text-danger"></span>
                            <select asp-for="BirthdayDay" class="form-control mt-1">
                                <option value="">Select Day...</option>
                                @for (int i = 1; i <= 31; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <span asp-validation-for="BirthdayDay" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NationalId" class="control-label"></label>
                            <input asp-for="NationalId" class="form-control" placeholder="Optional" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Telephonecountrycode" class="control-label"></label>
                            <input asp-for="Telephonecountrycode" class="form-control" readonly id="telephoneCountryCode" />
                            <span asp-validation-for="Telephonecountrycode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telephonenumber" class="control-label"></label>
                            <input asp-for="Telephonenumber" class="form-control" />
                            <span asp-validation-for="Telephonenumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Emailaddress" class="control-label"></label>
                            <input asp-for="Emailaddress" class="form-control" />
                            <span asp-validation-for="Emailaddress" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <button type="submit" id="update-profile-button" class="btn btn-primary">
                        <i class="fa-solid fa-floppy-disk mr-2"></i>Save
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById('countryDropdown').addEventListener('change', function () {
            var telephoneCountryCodeInput = document.getElementById('telephoneCountryCode');
            var countryCodeInput = document.getElementById('countryCode');
            switch (this.value) {
                case 'Sweden':
                    telephoneCountryCodeInput.value = '46';
                    countryCodeInput.value = 'SE';
                    break;
                case 'Norway':
                    telephoneCountryCodeInput.value = '47';
                    countryCodeInput.value = 'NO';
                    break;
                case 'Denmark':
                    telephoneCountryCodeInput.value = '45';
                    countryCodeInput.value = 'DK';
                    break;
                case 'Finland':
                    telephoneCountryCodeInput.value = '358';
                    countryCodeInput.value = 'FI';
                    break;
                default:
                    telephoneCountryCodeInput.value = '';
                    countryCodeInput.value = '';
            }
        });
    </script>
}
