@model Dictionary<string, (int customers, int accounts, decimal totalBalance)>

@functions {
    public static string FormatNumber(decimal num)
    {
        if (num >= 1000000000)
            return (num / 1000000000).ToString("0.0") + "B";
        else if (num >= 1000000)
            return (num / 1000000).ToString("0.0") + "M";
        else if (num >= 1000)
            return (num / 1000).ToString("0.0") + "K";
        else
            return num.ToString("0.0");
    }
}

@foreach (var entry in Model)
{
    <tr>
        <td class="text-white">
            <a class="btn btn-outline-secondary btn-block text-left" style="width: 120px;" asp-page="/CountryDetails" asp-route-country="@entry.Key">
                <i class="fa-solid fa-eye mr-2"></i>@entry.Key
            </a>
        </td>
        <td class="text-white pl-4 d-none d-sm-table-cell">@entry.Value.customers</td>
        <td class="text-white pl-4 d-none d-sm-table-cell">@entry.Value.accounts</td>
        <td class="text-white pl-2">
            <span class="d-none d-sm-inline">SEK: </span>@FormatNumber(entry.Value.totalBalance)
        </td>
    </tr>
}
