@page
@model DepositModel
@{
}


<div class="page-heading header-text">
    <h1>Deposit</h1>
    <button type="button" class="btn btn-secondary mt-3" onclick="location.href='/CustomersFolder/CustomerAdminInfo';">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return
    </button>
</div>


@if (TempData["DepositMessage"] != null)
{
    <div class="alert text-center @TempData["MessageClass"]">
        @Html.Raw(TempData["DepositMessage"])
    </div>
}

<form method="post" class="text-center">
    <div class="form-group" style="width: 200px; margin: 10px auto;">
        <label asp-for="AccountId">Account ID:</label>
        <input asp-for="AccountId" class="form-control" required readonly>
        <span asp-validation-for="AccountId" class="text-danger"></span>
    </div>

    <div class="form-group" style="width: 200px; margin: 10px auto;">
        <label asp-for="Amount">Amount SEK:</label>
        <input asp-for="Amount" class="form-control" required>
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <button type="submit" id="update-profile-button" class="btn btn-primary mb-3" style="margin-top: 10px;">
        <i class="fa-solid fa-plus mr-2"></i>Deposit
    </button>
</form>


<table class="table table-striped container table-hover mt-5 table-bordered">
    <tr>
        <th scope="col">Account ID</th>
        <th scope="col">Frequency</th>
        <th scope="col">Created</th>
        <th scope="col">Account Balance</th>
    </tr>

    @if (Model.Account != null)
    {
        <tr>
            <td>@Model.Account.AccountId</td>
            <td>@Model.Account.Frequency</td>
            <td>@Model.Account.Created</td>
            <td>SEK: @Model.Account.Balance</td>
        </tr>
    }
</table>

@section Scripts {
    <partial name="Shared/_ValidationScriptsPartial" />
}

