@page
@model TransactionDetailsModel
@{
    ViewData["Title"] = "Transaction Details";
}

<div class="page-heading header-text">
    <h1>@ViewData["Title"]</h1>
    <button id="update-profile-button" type="button" class="btn btn-primary" onclick="window.history.back();">Return</button>
</div>

@if (Model.Transaction != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Transaction ID</th>
                <th scope="col">Account ID</th>
                <th scope="col">Amount</th>
                <th scope="col">Balance</th>
                <th scope="col">Date of Transaction</th>
                <th scope="col">Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Transaction.TransactionId</td>
                <td>
                    <a asp-page="/AccountsFolder/Account" asp-route-accountId="@Model.Transaction.AccountId" class="btn btn-primary" id="update-profile-button">View Account @Model.Transaction.AccountId</a>
                </td>
                <td>@Model.Transaction.Amount SEK</td>
                <td>@Model.Transaction.Balance SEK</td>
                <td>@Model.Transaction.DateOfTransaction</td>
                <td>@Model.Transaction.Operation</td>
            </tr>
        </tbody>
    </table>
}
else
{
    <p>No transaction details available.</p>
}
