@page
@model TransactionAdminInfoModel
@{
    int startPage = Model.CurrentPage - 1 <= 0 ? 1 : Model.CurrentPage - 1;
    int endPage = startPage + 2 > Model.TotalPages ? Model.TotalPages : startPage + 2;
}

@* <style>
    .table td, .table th {
        width: 1%;
        white-space: nowrap;
        text-align: left;
    }
</style> *@


<div class="page-heading header-text">
    <h1>Transactions</h1>
    <button id="update-profile-button" type="button" class="btn btn-primary" onclick="location.href='/TransactionsFolder/TransactionAdminInfo';">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return to List
    </button>
</div>

<div class="container">
    <form method="get" class="text-left mt-4">
        <div class="input-group mb-3" style="width: 300px; margin-top: 10px;">
            <input type="text" class="form-control" name="search" placeholder="Enter Transaction ID" value="@Request.Query["search"]">
            <div class="input-group-append">
                <button id="update-profile-button" type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-magnifying-glass mr-2"></i>Search
                </button>
            </div>
        </div>
    </form>


    <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                Transaction ID
                   <a asp-page="/TransactionsFolder/TransactionAdminInfo"
                   asp-route-sortColumn="TransactionId"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                   <a asp-page="/TransactionsFolder/TransactionAdminInfo"
                   asp-route-sortColumn="TransactionId"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Account ID
                   <a asp-page="/TransactionsFolder/TransactionAdminInfo"
                   asp-route-sortColumn="AccountId"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                   <a asp-page="/TransactionsFolder/TransactionAdminInfo"
                   asp-route-sortColumn="AccountId"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col" class="d-none d-sm-table-cell">
                Customer ID
                   <a asp-page="/TransactionsFolder/TransactionAdminInfo"
                   asp-route-sortColumn="CustomerId"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                   <a asp-page="/TransactionsFolder/TransactionAdminInfo"
                   asp-route-sortColumn="CustomerId"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col" class="d-none d-sm-table-cell">
                Date
                   <a asp-page="/TransactionsFolder/TransactionAdminInfo"
                   asp-route-sortColumn="DateOfTransaction"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                   <a asp-page="/TransactionsFolder/TransactionAdminInfo"
                   asp-route-sortColumn="DateOfTransaction"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Amount
                   <a asp-page="/TransactionsFolder/TransactionAdminInfo"
                   asp-route-sortColumn="Amount"
                   asp-route-sortOrder="asc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-up"></i>
                </a>
                   <a asp-page="/TransactionsFolder/TransactionAdminInfo"
                   asp-route-sortColumn="Amount"
                   asp-route-sortOrder="desc"
                   style="text-decoration: none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var transaction in Model.Transactions)
        {
            <tr>
                <td>
                    <a asp-page="/TransactionsFolder/TransactionDetails"
                       asp-route-transactionId="@transaction.TransactionId"
                       id="update-profile-button"
                       class="btn btn-primary">
                        <i class="fa-solid fa-eye mr-2"></i>
                       @transaction.TransactionId
                    </a>
                </td>
                <td>
                    <a asp-page="/AccountsFolder/Account"
                       asp-route-accountIds="@transaction.AccountId"
                       id="update-profile-button"
                       class="btn btn-primary">
                        <i class="fa-solid fa-eye mr-2"></i>
                        @transaction.AccountId
                    </a>
                </td>
                    <td class="d-none d-sm-table-cell">
                    <a asp-page="/CustomersFolder/CustomerDetails"
                       asp-route-id="@transaction.CustomerId"
                       id="update-profile-button"
                       class="btn btn-primary">
                        <i class="fa-solid fa-eye mr-2"></i>
                        @transaction.CustomerId
                    </a>
                </td>
                <td class="d-none d-sm-table-cell">@transaction.DateOfTransaction</td>
                <td>SEK: @transaction.Amount.ToString("N2")</td>
            </tr>
        }
    </tbody>

        <tfoot>
            <tr>
                <td colspan="6">
                    <div style="display: flex; flex-direction: row; justify-content: flex-start; gap: 6px;">
                        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : "")" id="update-profile-button"
                           href='@(Model.CurrentPage > 1 ? "?page=" + (Model.CurrentPage - 1) + "&sortColumn=" + Request.Query["sortColumn"] + "&sortOrder=" + Request.Query["sortOrder"] : "#")'>Previous</a>

                        @for (int i = startPage; i <= endPage; i++)
                        {
                            <a class="btn @(Model.CurrentPage == i ? "btn-primary" : "btn-secondary")" id="@(Model.CurrentPage == i ? "update-profile-button" : "")"
                               href='?page=@i&sortColumn=@Request.Query["sortColumn"]&sortOrder=@Request.Query["sortOrder"]'>@i</a>
                        }

                        <a class="btn btn-primary @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")" id="update-profile-button"
                           href='@(Model.CurrentPage < Model.TotalPages ? "?page=" + (Model.CurrentPage + 1) + "&sortColumn=" + Request.Query["sortColumn"] + "&sortOrder=" + Request.Query["sortOrder"] : "#")'>Next</a>

                        <p class="d-none d-sm-table-cell">Page @Model.CurrentPage of @Model.TotalPages</p>

                        <a class="btn btn-primary d-none d-sm-table-cell" id="update-profile-button"
                           href='?page=1&sortColumn=@Request.Query["sortColumn"]&sortOrder=@Request.Query["sortOrder"]'>First</a>

                        <a class="btn btn-primary d-none d-sm-table-cell" id="update-profile-button"
                           href='?page=@Model.TotalPages&sortColumn=@Request.Query["sortColumn"]&sortOrder=@Request.Query["sortOrder"]'>Last</a>
                    </div>
                </td>
            </tr>
        </tfoot>
</table>
</div>

