@page
@model WithdrawModel
@{
}

<div class="page-heading header-text">
    <h1>Withdraw</h1>
    <button id="update-profile-button" type="button" class="btn btn-primary mt-3" onclick="location.href='/CustomersFolder/CustomerAdminInfo';">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return
    </button>
</div>

@if (TempData["Message"] != null)
{
    <div class="alert text-center @TempData["MessageClass"]">
        @Html.Raw(TempData["Message"])
    </div>
}

<form method="post" class="text-center">
    <div class="form-group d-inline-block" style="width: 200px; margin-top: 10px;">
        <label for="accountId">Account ID:</label>
        <input id="accountId" name="accountId" type="number" class="form-control" value="@Model.AccountId" required readonly>
        <span class="personal-field-validation-error" asp-validation-for="AccountId"></span>
    </div>

    <div class="form-group d-inline-block" style="width: 200px; margin-top: 10px;">
        <label for="amount">Amount SEK:</label>
        <input id="amount" name="amount" type="number" step="0.01" class="form-control" required>
        <span class="personal-field-validation-error" asp-validation-for="Amount"></span>
    </div>

    <button type="submit" id="update-profile-button" class="btn btn-primary mb-3" style="margin-top: 10px;">
        <i class="fa-solid fa-minus mr-2"></i>Withdraw
    </button>
</form>

<table class="table table-striped container table-hover mt-5">
    <tr>
        <th scope="col">Account ID</th>
        <th scope="col">Frequency</th>
        <th scope="col">Created</th>
        <th scope="col">Account Balance</th>
    </tr>

    @if (Model.Account != null)
    {
        <tr>
            <td>@Model.Account.AccountId</td>
            <td>@Model.Account.Frequency</td>
            <td>@Model.Account.Created</td>
            <td>SEK: @Model.Account.Balance</td>
        </tr>
    }
</table>
