@page
@model BankWeb.Pages.CountryDetailsModel
@{
    ViewData["Title"] = "Country Details";
}

<div class="page-heading header-text" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <h1>Top 10</h1>
    <img src="@Model.ImagePath" alt="@Model.Country" style="width: 200px; height: 100px; z-index: 1; border-radius: 5px;">
    <h3 class="mt-3">@Model.Country</h3>
</div>


<div class="container">
    <button type="button" class="btn btn-secondary mt-3 mb-3" style="margin-left: -14px;" onclick="window.history.back();">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return
    </button>
</div>

<table class="table container table-hover table-bordered shadow p-3 mb-5 bg-white rounded">
    <thead>
        <tr>
            <th scope="col">Position</th>
            <th class="d-none d-sm-table-cell" scope="col">Customer ID</th>
            <th class="d-none d-sm-table-cell" scope="col">Full Name</th>
            <th scope="col">Balance</th>
            <th class="d-none d-sm-table-cell" scope="col">Loyalty Program</th>
            <th scope="col">See Customer Details</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.TopCustomers.Count; i++)
        {
            var customer = Model.TopCustomers[i];
            <tr>
                <th scope="row">@((i + 1).ToString())</th>
                <td class="d-none d-sm-table-cell">@customer.CustomerId</td>
                <td class="d-none d-sm-table-cell">@customer.Givenname @customer.Surname</td>
                <td>SEK: @customer.TotalBalance.ToString("N2")</td>
                <td class="d-none d-sm-table-cell"><a asp-page="/GiftPage" asp-route-id="@customer.CustomerId" class="btn btn-outline-secondary">Send Gift</a></td>
                <td><a asp-page="/Customers/CustomerDetails" asp-route-id="@customer.CustomerId" class="btn btn-outline-secondary">View Details</a></td>
            </tr>
        }
    </tbody>
</table>
