@page
@model BankWeb.Pages.CountryDetailsModel
@{
    ViewData["Title"] = "Country Details";
}

<div class="page-heading header-text" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div style="display: flex; align-items: center;">
        <img src="@Model.ImagePath" alt="@Model.Country" style="width: 150px; height: 80px; margin-right: 20px; z-index: 1;">
        <div>
            <h1>@Model.Country</h1>
            <h2>Top 10 Loyal Customers</h2>
        </div>
    </div>
    <button id="update-profile-button" type="button" class="btn btn-primary mt-3" onclick="window.history.back();">Return</button>
</div>


<table class="table container table-hover">
    <thead>
        <tr>
            <th scope="col">Position</th>
            <th scope="col">Customer ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Balance</th>
            <th scope="col">Loyalty Program</th>
            <th scope="col">See Customer Details</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.TopCustomers.Count; i++)
        {
            var customer = Model.TopCustomers[i];
            <tr>
                <th scope="row">@((i + 1).ToString())</th>
                <td>@customer.CustomerId</td>
                <td>@customer.Givenname @customer.Surname</td>
                <td>SEK: @customer.TotalBalance.ToString("N2")</td>
                <td><a asp-page="/GiftPage" asp-route-id="@customer.CustomerId" id="update-profile-button" class="btn btn-primary">Send Gift</a></td>
                <td><a asp-page="/CustomersFolder/CustomerDetails" asp-route-id="@customer.CustomerId" id="update-profile-button" class="btn btn-primary">See Customer Details</a></td>
            </tr>
        }


    </tbody>
</table>
