@page
@model BankWeb.Pages.CustomerDetailsModel
@{
    ViewData["Title"] = "Customer Details";
}

<div class="page-heading header-text">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="mb-3 mt-3 d-flex justify-content-center">
    <a asp-page="/CustomerCRUD/Create" id="update-profile-button" class="btn btn-primary mr-2">Create New Customer</a>
    <a asp-page="/CustomerCRUD/Edit" asp-route-id="@Model.Customer.CustomerId" id="update-profile-button" class="btn btn-primary mr-2">Edit Customer</a>
    <a asp-page="/CustomerCRUD/Delete" asp-route-id="@Model.Customer.CustomerId" class="btn btn-danger">Delete Customer</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Customer ID</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Account ID</th>
            <th scope="col">Total Balance</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model.Customer.Accounts)
        {
            <tr>
                <td>@Model.Customer.CustomerId</td>
                <td>@Model.Customer.Givenname @Model.Customer.Surname</td>
                <td>@Model.Customer.Streetaddress, @Model.Customer.City</td>
                <td>@account.AccountId</td>
                <td>SEK: @Model.Customer.TotalBalance</td>
                <td>@account.Type</td>
            </tr>
        }
    </tbody>
</table>
