@page
@model BankWeb.Pages.CustomerAdminInfoModel
@{
}

<div class="page-heading header-text">
    <h1>All Customers</h1>
</div>

<form method="get" class="text-center">
    <div class="form-group d-inline-block" style="width: 200px; margin-top: 10px;">
        <input type="text" class="form-control" name="search" placeholder="Enter Customer ID" value="@Request.Query["search"]">
    </div>
    <button id="update-profile-button" type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Customer Id</th>
            <th scope="col">Given Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Streetaddress</th>
            <th scope="col">City</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.CustomerId</td>
                <td>@customer.Givenname</td>
                <td>@customer.Surname</td>
                <td>@customer.Streetaddress</td>
                <td>@customer.City</td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="2" style="display: flex; gap: 6px;">
                <button class="btn btn-primary" onclick="location.href='?page=@(Model.CurrentPage - 1)'" @(Model.CurrentPage == 1 ? "disabled" : "")>Previous</button>
                <button class="btn btn-primary" onclick="location.href='?page=@(Model.CurrentPage + 1)'">Next</button>
                <p>Page @Model.CurrentPage of @Model.TotalPages</p>
                <button class="btn btn-primary" onclick="location.href='?page=1'">First</button>
                <button class="btn btn-primary" onclick="location.href='?page=@Model.TotalPages'">Last</button>
            </td>
        </tr>
    </tfoot>
</table>