@page
@model BankWeb.Pages.DepositModel
@{
}

<div class="page-heading header-text">
    <h1>Deposit</h1>
    <button id="update-profile-button" type="button" class="btn btn-primary" onclick="location.href='/CustomerAdminInfo';">Return to List</button>
</div>


@if (TempData["Message"] != null)
{
    <div class="alert @TempData["MessageClass"]">
        @Html.Raw(TempData["Message"])
    </div>
}

<form method="post" class="text-center">
    <div class="form-group d-inline-block" style="width: 200px; margin-top: 10px;">
        <label for="accountId">Account ID:</label>
        <input id="accountId" name="accountId" type="number" class="form-control" value="@Model.AccountId" required>
    </div>

    <div class="form-group d-inline-block" style="width: 200px; margin-top: 10px;">
        <label for="amount">Amount SEK:</label>
        <input id="amount" name="amount" type="number" step="0.01" class="form-control" required>
    </div>

    <button type="submit" id="update-profile-button" class="btn btn-primary mb-3" style="margin-top: 10px;">Deposit</button>
</form>

<table class="table table-striped">
    <tr>
        <th scope="col">Account ID</th>
        <th scope="col">Frequency</th>
        <th scope="col">Created</th>
        <th scope="col">Balance</th>
        <th scope="col">Details</th>
    </tr>

    @if (Model.Account != null)
    {
        <tr>
            <td>@Model.Account.AccountId</td>
            <td>@Model.Account.Frequency</td>
            <td>@Model.Account.Created</td>
            <td>SEK: @Model.Account.Balance</td>
            <td>@Model.Account.Type</td>
        </tr>
    }
</table>


