@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@functions {
    public static string FormatNumber(decimal num)
    {
        if (num >= 1000000000)
            return (num / 1000000000).ToString("0.0") + "B";
        else if (num >= 1000000)
            return (num / 1000000).ToString("0.0") + "M";
        else if (num >= 1000)
            return (num / 1000).ToString("0.0") + "K";
        else
            return num.ToString("0.0");
    }
}

<style>
    .spaced-table {
        width: 75%; 
        border-spacing: 0 20px; 
    }

        .spaced-table th, .spaced-table td {
            padding: 15px; 
            font-weight: 600; 
            font-size: 1.1rem; 
            text-align: left; 
        }

        .spaced-table th {
            letter-spacing: 1px; 
        }

        .spaced-table td {
           /*  font-family: 'Courier New', Courier, monospace;  */
        }

        .spaced-table tr:hover {
            background-color: rgba(255, 255, 255, 0.1); 
        }

    .country-styling {
        color: #A4C639; 
        text-decoration: none; 
    }

        .country-styling:hover {
            text-decoration: underline; 
        }

    .form-control {
        background-color: transparent; 
        color: white; 
        border: 1px solid #555; 
        border-radius: 4px; 
    }

        .form-control:hover {
            border-color: #777; 
        }
</style>



<!-- Page Content -->
    <!-- Banner Starts Here -->

    
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content container">
                    <h6 class="pl-4">Welcome to the Modern Bank</h6>
                    <h4 class="pl-4">Financial &amp; Banking Statistics</h4>
                    <div class="table-responsive">
                    <table class="table-borderless spaced-table">
                        <thead>
                            <tr>
                                <th class="text-white custom-width pl-4">Country</th>
                                    <th class="text-white custom-width d-none d-sm-table-cell">Customers</th>
                                    <th class="text-white custom-width d-none d-sm-table-cell">Accounts</th>
                                <th class="text-white custom-width">Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                                @foreach (var entry in Model.DataPerCountry)
                                {
                                    <tr>
                                        <td class="text-white custom-width">
                                            @if (User.IsInRole("Cashier"))
                                            {
                                                <a class="country-styling" asp-page="/CountryDetails" asp-route-country="@entry.Key">
                                                    <i class="fa-solid fa-eye mr-2"></i>@entry.Key
                                                </a>
                                            }
                                            else
                                            {
                                                <span class="ml-2">@entry.Key</span>
                                            }
                                        </td>
                                        <td class="text-white custom-width pl-4 d-none d-sm-table-cell">@entry.Value.customers</td>
                                        <td class="text-white custom-width pl-4 d-none d-sm-table-cell">@entry.Value.accounts</td>
                                        <td class="text-white custom-width pl-2">SEK: @FormatNumber(entry.Value.totalBalance)</td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                    </div>

                    @if (User.IsInRole("Cashier"))
                    {
                        <form class="my-2 my-lg-0 pl-3 d-none d-sm-block" method="get" asp-page="/CustomersFolder/CustomerAdminInfo">
                            <div class="input-group" style="width: 410px; margin-top: 10px;">
                                <input class="form-control" type="search" placeholder="Search Customer ID, Name or City" aria-label="Search" name="query" required style="background-color: transparent; color: white;" value="@Request.Query["query"]">
                                <div class="input-group-append">
                                    <button id="update-profile-button" class="btn btn-primary" type="submit">
                                        <i class="fa-solid fa-magnifying-glass mr-2"></i>Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
          </div>
          <!-- // Item -->

          <!-- Item -->
         @*  <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <h6>We help with your finances</h6>
                  <h4>Accounting<br>&amp; Management</h4>
                    <ul>
                        @foreach (var entry in Model.DataPerCountry)
                        {
                            <li class="text-white">
                                <a class="country-styling" asp-page="/CountryDetails" asp-route-country="@entry.Key">@entry.Key</a>:
                                Customers - @entry.Value.customers,
                                Accounts - @entry.Value.accounts,
                                Total Balance - @entry.Value.totalBalance.ToString("N2") SEK
                            </li>
                        }
                    </ul>

                    <form class="form-inline my-2 my-lg-0" method="get" asp-page="/SearchResults">
                        <input class="form-control mr-sm-2" type="search" placeholder="Enter Name or City" aria-label="Search" name="query" required>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
          </div> *@
          <!-- // Item -->

          <!-- Item -->
         @*  <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h6>we have a solid background</h6>
                  <h4>Market Analysis<br>&amp; Statistics</h4>
                    <ul>
                        @foreach (var entry in Model.DataPerCountry)
                        {
                            <li class="text-white">
                                <a class="country-styling" asp-page="/CountryDetails" asp-route-country="@entry.Key">@entry.Key</a>:
                                Customers - @entry.Value.customers,
                                Accounts - @entry.Value.accounts,
                                Total Balance - @entry.Value.totalBalance.ToString("N2") SEK
                            </li>
                        }
                    </ul>

                  <a href="about.html" class="filled-button">learn more</a>
                </div>
            </div>
          </div> *@
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Request a call back right now ?</h4>
            <span>Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</span>
          </div>
          <div class="col-md-4">
            <a href="contact.html" class="border-button">Contact Us</a>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Financial <em>Services</em></h2>
              <span>Aliquam id urna imperdiet libero mollis hendrerit</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="assets/images/service_01.jpg" alt="">
              <div class="down-content">
                <h4>Digital Currency</h4>
                <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
                <a href="" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="assets/images/service_02.jpg" alt="">
              <div class="down-content">
                <h4>Market Analysis</h4>
                <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
                <a href="" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="assets/images/service_03.jpg" alt="">
              <div class="down-content">
                <h4>Historical Data</h4>
                <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
                <a href="" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <span>Lorem ipsum dolor sit amet</span>
              <h2>Our solutions for your <em>business growth</em></h2>
              <p>Pellentesque ultrices at turpis in vestibulum. Aenean pretium elit nec congue elementum. Nulla luctus laoreet porta. Maecenas at nisi tempus, porta metus vitae, faucibus augue. 
              <br><br>Fusce et venenatis ex. Quisque varius, velit quis dictum sagittis, odio velit molestie nunc, ut posuere ante tortor ut neque.</p>
              <a href="" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row">
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">945</div>
                  <div class="count-title">Work Hours</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">1280</div>
                  <div class="count-title">Great Reviews</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">578</div>
                  <div class="count-title">Projects Done</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">26</div>
                  <div class="count-title">Awards Won</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="assets/images/more-info.jpg" alt="">
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Who we are</span>
                    <h2>Get to know about <em>our company</em></h2>
                    <p>Curabitur pulvinar sem a leo tempus facilisis. Sed non sagittis neque. Nulla conse quat tellus nibh, id molestie felis sagittis ut. Nam ullamcorper tempus ipsum in cursus<br><br>Praes end at dictum metus. Morbi id hendrerit lectus, nec dapibus ex. Etiam ipsum quam, luctus eu egestas eget, tincidunt</p>
                    <a href="#" class="filled-button">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-partners owl-carousel">
            
              <div class="partner-item">
                <img src="assets/images/client-01.png" title="1" alt="1">
              </div>
              
              <div class="partner-item">
                <img src="assets/images/client-01.png" title="2" alt="2">
              </div>
              
              <div class="partner-item">
                <img src="assets/images/client-01.png" title="3" alt="3">
              </div>
              
              <div class="partner-item">
                <img src="assets/images/client-01.png" title="4" alt="4">
              </div>
              
              <div class="partner-item">
                <img src="assets/images/client-01.png" title="5" alt="5">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
