@page
@model BankWeb.Pages.LoansModel
@{
}

<h1 class="text-center">Loan Applications</h1>

<table class="table table-striped">
    <tr>
        <th scope="col">Loan ID</th>
        <th scope="col">Account ID</th>
        <th scope="col">Amount</th>
        <th scope="col">Duration</th>
        <th scope="col">Status</th>
        <th scope="col">Details</th>
    </tr>

    @foreach(var loan in Model.Loans)
    {
        <tr>
            <td>@loan.LoanId</td>
            <td>@loan.AccountId</td>
            <td>SEK: @loan.Amount</td>
            <td>@loan.Duration Hours</td>
            <td>@loan.Status</td>
            <td>
                <a asp-page="/Account" asp-route-accountId="@loan.AccountId">See the account</a>
            </td>
        </tr>
    }
</table>