@* @page
@model BankWeb.Pages.SearchResultsModel
@{
    ViewData["Title"] = "Search Results";
}

<div class="page-heading header-text">
    <h1>@ViewData["Title"]</h1>
    <button id="update-profile-button" type="button" class="btn btn-primary" onclick="window.history.back();">Return</button>
</div>

@if (Model.Customers != null && Model.Customers.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Customer Number</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td><a asp-page="/CustomersFolder/CustomerDetails" asp-route-id="@customer.CustomerId" class="btn btn-primary" id="update-profile-button">@customer.CustomerId</a></td>
                    <td>@customer.Givenname @customer.Surname</td>
                    <td>@customer.Streetaddress</td>
                    <td>@customer.City</td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a asp-page="/SearchResults" asp-route-page="@(((int)ViewData["CurrentPage"]) - 1)" asp-route-query="@Request.Query["query"]" class="btn btn-primary" id="update-profile-button">Previous</a>
        <a asp-page="/SearchResults" asp-route-page="@(((int)ViewData["CurrentPage"]) + 1)" asp-route-query="@Request.Query["query"]" class="btn btn-primary" id="update-profile-button">Next</a>
        <p>Page @Model.CurrentPage of @Model.TotalPages</p>
    </div>

}
else
{
    <p>No results found.</p>
}
 *@