@page
@model BankWeb.Pages.CustomerCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Givenname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Givenname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Streetaddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Streetaddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Zipcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Zipcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CountryCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CountryCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.NationalId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.NationalId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Telephonecountrycode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Telephonecountrycode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Telephonenumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Telephonenumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Emailaddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Emailaddress)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Customer.CustomerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
