@page
@model BankWeb.Pages.AccountsFolder.AccountsAdminInfoModel
@{
    int startPage = Model.CurrentPage - 1 <= 0 ? 1 : Model.CurrentPage - 1;
    int endPage = startPage + 2 > Model.Accounts.PageCount ? Model.Accounts.PageCount : startPage + 2;
}


<div class="page-heading header-text">
    <h1>Accounts</h1>
    <h3 class="mb-3">Total: @Model.TotalAccounts.ToString("N0")</h3>
    <button type="button" class="btn btn-secondary" onclick="location.href='/Accounts/AccountsAdminInfo';">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return to List
    </button>
</div>

<div class="container">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">
            @TempData["Message"]
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }
</div>

<div class="container" style="width: 80%; margin: auto; padding: 20px;">

    <form method="get" class="text-left d-none d-sm-table-cell" asp-page="/Accounts/AccountsAdminInfo">
        <div class="input-group mb-3" style="width: 300px; margin-top: 10px;">
            <input type="text" class="form-control" name="query" placeholder="Search Account ID" value="@Request.Query["query"]">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="fa-solid fa-magnifying-glass mr-2"></i>Search
                </button>
            </div>
        </div>
    </form>


    <table class="table table-hover table-bordered shadow p-3 mb-5 bg-white rounded">
        <thead>
            <tr>
                <th scope="col">
                    Account ID
                    <a asp-page="/Accounts/AccountsAdminInfo"
                       asp-route-sortColumn="AccountId"
                       asp-route-sortOrder="asc"
                       asp-route-query="@Model.Search"
                       style="text-decoration: none">
                        <i class="fa-solid fa-angle-up"></i>
                    </a>
                    <a asp-page="/Accounts/AccountsAdminInfo"
                       asp-route-sortColumn="AccountId"
                       asp-route-sortOrder="desc"
                       asp-route-query="@Model.Search"
                       style="text-decoration: none">
                        <i class="fa-solid fa-angle-down"></i>
                    </a>
                </th>
                <th scope="col" class="d-none d-sm-table-cell">
                    Frequency
                    <a asp-page="/Accounts/AccountsAdminInfo"
                       asp-route-sortColumn="Frequency"
                       asp-route-sortOrder="asc"
                       style="text-decoration: none">
                        <i class="fa-solid fa-angle-up"></i>
                    </a>
                    <a asp-page="/Accounts/AccountsAdminInfo"
                       asp-route-sortColumn="Frequency"
                       asp-route-sortOrder="desc"
                       style="text-decoration: none">
                        <i class="fa-solid fa-angle-down"></i>
                    </a>
                </th>
                <th scope="col" class="d-none d-sm-table-cell">
                    Created
                    <a asp-page="/Accounts/AccountsAdminInfo"
                       asp-route-sortColumn="Created"
                       asp-route-sortOrder="asc"
                       asp-route-query="@Model.Search"
                       style="text-decoration: none">
                        <i class="fa-solid fa-angle-up"></i>
                    </a>
                    <a asp-page="/Accounts/AccountsAdminInfo"
                       asp-route-sortColumn="Created"
                       asp-route-sortOrder="desc"
                       asp-route-query="@Model.Search"
                       style="text-decoration: none">
                        <i class="fa-solid fa-angle-down"></i>
                    </a>
                </th>
                <th scope="col">
                    Balance
                    <a asp-page="/Accounts/AccountsAdminInfo"
                       asp-route-sortColumn="Balance"
                       asp-route-sortOrder="asc"
                       asp-route-query="@Model.Search"
                       style="text-decoration: none">
                        <i class="fa-solid fa-angle-up"></i>
                    </a>
                    <a asp-page="/Accounts/AccountsAdminInfo"
                       asp-route-sortColumn="Balance"
                       asp-route-sortOrder="desc"
                       asp-route-query="@Model.Search"
                       style="text-decoration: none">
                        <i class="fa-solid fa-angle-down"></i>
                    </a>
                </th>
                <th scope="col" class="d-none d-sm-table-cell">
                    Customers
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var account in Model.Accounts.Results)
            {
                <tr>
                    <td>
                        <a class="btn btn-outline-secondary btn-block" asp-page="/Accounts/Account" asp-route-accountIds="@account.AccountId">
                            <i class="fa-solid fa-eye mr-2"></i>@account.AccountId
                        </a>
                    </td>
                    <td class="d-none d-sm-table-cell">@account.Frequency</td>
                    <td class="d-none d-sm-table-cell">@account.Created</td>
                    <td>SEK: @account.Balance</td>
                    <td class="d-none d-sm-table-cell">
                        @foreach (var customerDisposition in account.Customers)
                        {
                            <p>
                                <a asp-page="/Customers/CustomerDetails" asp-route-id="@customerDisposition.Customer.CustomerId">
                                    <i class="fa-solid fa-eye mr-2"></i>@customerDisposition.Customer.Givenname @customerDisposition.Customer.Surname (@customerDisposition.DispositionType)
                                </a>
                            </p>
                        }
                    </td>
                </tr>
            }
        </tbody>



        <tfoot>
            <tr>
                <td colspan="6">
                    <div style="display: flex; flex-direction: row; justify-content: flex-start; gap: 6px;">
                        <a class="btn btn-primary d-none d-sm-table-cell" id="update-profile-button"
                           asp-route-pageNo="1"
                           asp-route-sortColumn="@Request.Query["sortColumn"]"
                           asp-route-sortOrder="@Request.Query["sortOrder"]"
                           asp-route-query="@Request.Query["query"]">First</a>

                        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : "")" id="update-profile-button"
                           asp-route-pageNo="@(Model.CurrentPage > 1 ? (Model.CurrentPage - 1).ToString() : "#")"
                           asp-route-sortColumn="@Request.Query["sortColumn"]"
                           asp-route-sortOrder="@Request.Query["sortOrder"]"
                           asp-route-query="@Request.Query["query"]">Previous</a>

                        @for (int i = startPage; i <= endPage; i++)
                        {
                            <a class="btn @(Model.CurrentPage == i ? "btn-primary" : "btn-secondary")" id="@(Model.CurrentPage == i ? "update-profile-button" : "")"
                               asp-route-pageNo="@i"
                               asp-route-sortColumn="@Request.Query["sortColumn"]"
                               asp-route-sortOrder="@Request.Query["sortOrder"]"
                               asp-route-query="@Request.Query["query"]">@i</a>
                        }

                        <a class="btn btn-primary @(Model.CurrentPage == Model.Accounts.PageCount ? "disabled" : "")" id="update-profile-button"
                           asp-route-pageNo="@(Model.CurrentPage < Model.Accounts.PageCount ? (Model.CurrentPage + 1).ToString() : "#")"
                           asp-route-sortColumn="@Request.Query["sortColumn"]"
                           asp-route-sortOrder="@Request.Query["sortOrder"]"
                           asp-route-query="@Request.Query["query"]">Next</a>

                        <p class="d-none d-sm-table-cell">Page @Model.CurrentPage of @Model.Accounts.PageCount</p>

                        <a class="btn btn-primary d-none d-sm-table-cell" id="update-profile-button"
                           asp-route-pageNo="@Model.Accounts.PageCount"
                           asp-route-sortColumn="@Request.Query["sortColumn"]"
                           asp-route-sortOrder="@Request.Query["sortOrder"]"
                           asp-route-query="@Request.Query["query"]">Last</a>
                    </div>
                </td>
            </tr>
        </tfoot>

    </table>
</div>
