@page
@model DeleteAccountModel

<div class="page-heading header-text">
    <h1>@ViewData["Title"]</h1>
    <h3>Are you sure you want to delete Account Id @Model.Account.AccountId?</h3>
    <a class="btn btn-secondary mt-3" asp-page="/Customers/CustomerAdminInfo">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return to Customers
    </a>
</div>

<div class="container">
    @if (TempData["Message"] != null)
    {
        <div class="alert text-center @TempData["MessageClass"]">
            @Html.Raw(TempData["Message"])
        </div>
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger text-center">
            @TempData["Error"]
        </div>
    }
</div>

<div class="container d-flex justify-content-center mt-3">
    @if (TempData["ShowWithdrawButton"] != null)
    {
        <button type="button" id="update-profile-button" class="btn btn-primary mr-2" onclick="location.href='/Transactions/Withdraw?accountId=' + @Model.Account.AccountId;">
            <i class="fa-solid fa-arrow-down mr-2"></i>Withdraw
        </button>
    }

    @if (TempData["ShowTransferButton"] != null)
    {
        <button type="button" id="update-profile-button" class="btn btn-primary ml-2" onclick="location.href='/Transactions/Transfer?accountId=' + @Model.Account.AccountId;">
            <i class="fa-solid fa-arrow-right-left mr-2"></i>Transfer
        </button>
    }
</div>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center min-vh-100">
        <div class="col-md-8">
            <hr />
            <table class="table table-hover table-bordered shadow rounded">
                <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Account.AccountId)</th>
                    <td>@Html.DisplayFor(model => model.Account.AccountId)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Account.Frequency)</th>
                    <td>@Html.DisplayFor(model => model.Account.Frequency)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Account.Balance)</th>
                    <td>@Html.DisplayFor(model => model.Account.Balance)</td>
                </tr>
                </tbody>
            </table>
            <form method="post">
                <input type="hidden" asp-for="Account.AccountId" />
                <div class="form-group d-flex justify-content-center">
                    <input type="submit" value="Delete" class="btn btn-danger mr-2" />
                </div>
            </form>
        </div>
    </div>
</div>