@page
@model BankWeb.Pages.UsersFolder.ManageUsersModel
@{
    ViewData["Title"] = "Manage Users";
}

<div class="page-heading header-text">
    <h1>@ViewData["Title"]</h1>
    <button type="button" class="btn btn-secondary mt-3" onclick="window.history.back();">
        <i class="fa-solid fa-arrow-left mr-2"></i>Return
    </button>
</div>


<div class="container" style="width: 80%; margin: auto; padding: 20px;">

@if (TempData["UserDeletedMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["UserDeletedMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["AccountConfirmedMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["AccountConfirmedMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

    <div class="d-flex justify-content-between align-items-center">
        <form method="get" class="my-2 my-lg-0 d-none d-sm-table-cell" asp-page="/Users/ManageUsers">
            <div class="input-group" style="width: 400px; margin-top: 10px; margin-bottom: 15px;">
                <input type="text" class="form-control" name="query" placeholder="Search User Email" value="@Request.Query["query"]">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa-solid fa-magnifying-glass mr-2"></i>Search
                    </button>
                </div>
            </div>
        </form>

        <a asp-area="Identity" asp-page="/Account/Register" id="update-profile-button" class="btn btn-primary user-search-mobile">
            <i class="fa-solid fa-plus mr-2"></i>Create New User
        </a>
    </div>

    <table class="table container table-hover table-bordered shadow p-3 mb-5 bg-white rounded">
        <thead>
            <tr>
                <th class="d-none d-sm-table-cell" style="width: 40%;">Email</th>
                <th style="width: 30%;">Roles</th>
                <th style="width: 30%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                var isSelf = user.Id == Model.LoggedInUserId;
                var isProtectedUser = user.Email == "richard.erdos.chalk@gmail.se" || user.Email == "richard.chalk@systementor.se";
                <tr>
                    <td class="d-none d-sm-table-cell">@user.Email</td>
                    <td>
                        @string.Join(", ", await Model.GetRoles(user))
                    </td>
                    <td>
                        <div class="row">
                            <div class="col edit-btn-mobile">
                                <a class="btn btn-outline-secondary btn-block" asp-page="EditUser" asp-route-id="@user.Id">
                                    <i class="fa-solid fa-pen-to-square mr-2"></i>Edit
                                </a>
                            </div>
                            @if (!isSelf && !isProtectedUser)
                            {
                                <div class="col">
                                    <a class="btn btn-danger btn-block" asp-page="DeleteUser" asp-route-id="@user.Id">
                                        <i class="fa-solid fa-trash-can mr-2"></i>Delete
                                    </a>
                                </div>
                            }
                            else if (isProtectedUser)
                            {
                                <div class="col">
                                    <button class="btn btn-info btn-block" disabled>
                                        <i class="fa-solid fa-shield-halved mr-2"></i>Protected
                                    </button>
                                </div>
                            }
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
